@import '../../globalCSS/mixins.scss';
@import '../../globalCSS/variables.scss';

.pageGame {
  // border: 5px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

.content {
  // border: 5px solid brown;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.one {
  // border: 5px solid green;
  height: 17%;
  display: flex;
  justify-content: center;
  @include font(20px, Hand);
}

.two {
  // border: 5px solid green;
  height: 60%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.three {
  // border: 5px solid green;
  height: 17%;
  display: flex;
  justify-content: center;
  font-size: 50px;
  padding-right: 20%;
  padding-left: 20%;
}

.separate {
  height: 3%;
}

@media (max-width: 570px) {
  .one {
    font-size: 4vw;
  }

  .three {
    font-size: 7vw;
  }
}