@import '../../globalCSS/variables.scss';

.svg {
  width: 70%;
  height: 70%;
}

.path {
  fill: rgba(10, 10, 10, 0.0);
  stroke: $general-color;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;
  animation: dash 1s .3s linear forwards;
}

@keyframes dash {
  from {
    stroke-dashoffset: 5000;
  }

  to {
    stroke-dashoffset: 0;
  }
}