@import '../../globalCSS/variables.scss';

.svg {
  position: absolute;
  width: 60%;
  height: 60%;
}

.path {
  stroke: $general-color;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 2500;
  stroke-dashoffset: 2500;
  animation: dash 1s .3s linear forwards;
}

@keyframes dash {
  from {
    stroke-dashoffset: 2500;
  }

  to {
    stroke-dashoffset: 0;
  }
}