@import './variables.scss';
@import './fonts.scss';


@mixin test-border($color) {
  border: 5px solid $color
}

@mixin font($size, $font) {
  font-family: $font;
  font-size: $size;
  color: $general-color;
}

@mixin path($width, $time, $dash) {
  fill: rgba(10, 10, 10, 0.0);
  stroke-width: $width;
  stroke: $general-color;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: $dash;
  stroke-dashoffset: $dash;
  animation: dash $time .3s linear forwards;

  @keyframes dash {
    from {
      stroke-dashoffset: $dash;
    }
  
    to {
      stroke-dashoffset: 0;
    }
  }
}