.button {
  // border: 5px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 150px;
  cursor: pointer;
}

.wrapperText {
  position: absolute;
}

@media (max-width: 800px) {
  .button {
    width: 40vw;
    height: 20vw;
  }
  .wrapperText {
    font-size: 8vw;
  }
}