@import '../../globalCSS/mixins.scss';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  @include font(1em, Hand);
  position: relative;
  -webkit-tap-highlight-color: transparent;
}

.wrapperTextUp {
  position: absolute;
}

.wrapperTextDown {
  top: 33%;
  position: absolute;
}