@import '../../globalCSS/variables.scss';
@import '../../globalCSS/mixins.scss';

.PageLogIn {
  // border: 5px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  @include font(7vh, Hand)
}

.wrapperInputs {
  // border: 5px solid red;
  display: flex;
  flex-direction: column;
  
  width: 70%;
  max-width: 500px;
}

.wrapperSvg {
  // border: 5px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapperText {
  // border: 5px solid yellow;
  @include font(60px, Hand);
}

.inputPageLogIn {
  // border: 3px solid $general-color;
  border: none;
  outline: none;
  background-color: transparent;
  width: 60%;
  max-width: 450px;
  position: absolute;
  // @include font(7vh, Hand)
  @include font(60px, Hand);
}

.buttonPageLogIn {
  border: 3px solid $general-color;
  border-radius: 10px;
  background: none;
  outline: none;
  margin-top: 3vh;
  @include font(60px, Hand)
}

.buttonPageLogIn:active {
  border: 6px solid $general-color;
}

@media (max-width: 800px) {
  .inputPageLogIn {
    font-size: 9vw;
  }

  .wrapperText {
    font-size: 9vw;
  }

  .buttonPageLogIn {
    font-size: 9vw;
  }

}

@media (max-height: 550px) {
  .inputPageLogIn {
    font-size: 11vh;
  }

  .wrapperText {
    font-size: 11vh;
  }

  .buttonPageLogIn {
    font-size: 11vh;
  }

  .inputPageLogIn {
    width: 70vh;
  }

  .wrapperText {
    width: 80vh;
    margin: auto;
  }

}

@media (max-height: 300px) {
  .inputPageLogIn {
    width: 60vh;
  }
}

@media (max-height: 200px) {
  .inputPageLogIn {
    width: 50vh;
  }
}
