@import '../../globalCSS/mixins.scss';
@import '../../globalCSS/variables.scss';

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb{
  background-color: $general-color;
}