@import '../../globalCSS/mixins.scss';
@import '../../globalCSS/variables.scss';

.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 200px;
  width: 100%;
  max-width: 400px;
}

.messages {
  overflow: scroll;
  scroll-behavior: smooth;
  height: 70%;
}

.inputChat {
  border: 3px solid $general-color;
  outline: none;
  background-color: transparent;
  width: 100%;
  @include font(1em, Hand);
}

.wrapperSend {
  display: flex;
  padding: 2px;
}

.button {
  border: 3px solid $general-color;
  outline: none;
  background-color: transparent;
  @include font(1em, Hand);
  cursor: pointer;
  margin-left: 3px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.button:active {
  margin-top: 2px;
  margin-bottom: 0px;
  }