@import '../../globalCSS/mixins.scss';
@import '../../globalCSS/variables.scss';

.chat {
  // border: 5px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 150px;
  height: 100%;
  width: 100%;
}

.messages {
  // border: 2px solid green;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.inputChat {
  border: 3px solid $general-color;
  outline: none;
  background-color: transparent;
  width: 100%;
  min-height: 20px;
  @include font(1em, Hand);
}

.wrapperSend {
  // border: 2px solid red;
  display: flex;
  min-height: 20px;
}

.button {
  border: 3px solid $general-color;
  outline: none;
  background-color: transparent;
  @include font(1em, Hand);
  cursor: pointer;
  margin-left: 3px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.button:active {
  margin-top: 2px;
  margin-bottom: 0px;
  }