@import '../../globalCSS/mixins.scss';
@import '../../globalCSS/variables.scss';

.pageBegin {
  // @include test-border(yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  // @include font(60px, Hand);
}

// @media (max-width: 1000px) {
//   .pageBegin {
//     flex-wrap: wrap;
//   }
// }