@import '../../globalCSS/mixins.scss';
@import '../../globalCSS/variables.scss';

.pageHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

.content {
  height: 800px;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.one {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include font(100px, Hand);
}

.two {
  display: flex;
  justify-content: center;
  height: 60%;
}

.separate {
  height: 5%;
}

.three {
  height: 20%;
  display: flex;
  justify-content: center;
  font-size: 50px;
  padding-right: 30%;
  padding-left: 30%;
}

@media (max-width: 800px) {
  .content {
    height: 100vw;
  }
  .one {
    font-size: 12vw;
  }
  .separate{
    height: 0;
  }
  .three {
    font-size: 7vw;
  }
}