.wrapperField {
  border: 5px solid green;
  display: flex;
  align-items: start;
  justify-content: center;
  min-width: 200px;
}

.field {
  border: 5px solid blue;
  position: relative;
  width: 100%;
  max-width: 70vh;
}

.wrapperLine {
  // border: 5px solid green;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.line {
  // border: 5px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}